## Citibike Dataset

In [5]:
%matplotlib inline
import pandas as pd
import MySQLdb as mdb
import matplotlib 
matplotlib.style.use(['seaborn-talk', 'seaborn-ticks', 'seaborn-whitegrid'])
matplotlib.rcParams['figure.figsize'] = (20,10)

In [7]:
from sqlalchemy import create_engine

conn_string_read = 'mysql://{user}:{password}@{host}/{db}?charset=utf8mb4'.format(
    host = 'localhost', 
    user = 'root',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4', db='citibike_new')
engine_read = create_engine(conn_string_read)

In [15]:
query = '''
SELECT station_id AS id, 
       AVG(num_bikes_available) AS available_bikes,
       AVG(num_docks_available) AS available_docks,
       AVG(num_bikes_disabled) AS disabled_bikes,
       AVG(num_docks_disabled) AS disabled_docks,
       AVG(num_bikes_available/(num_bikes_available+num_docks_available+num_bikes_disabled+num_docks_disabled)) AS percent_full, 
       DATE_FORMAT(last_reported, '%%Y-%%m-%%d %%H:00:00') AS communication_time 
FROM citibike_new.Status
WHERE  is_renting=1 AND is_installed=1 AND num_bikes_available+num_docks_available+num_bikes_disabled+num_docks_disabled>0
GROUP BY station_id, communication_time
'''
df = pd.read_sql(query, con=engine_read)

In [16]:
len(df)

880538

In [17]:
df.head(10)

,id,available_bikes,available_docks,disabled_bikes,disabled_docks,percent_full,communication_time
0,72,1.1333,34.0667,3.8,0.0,0.029040,2017-09-18 23:00:00
1,72,2.8000,32.2000,4.0,0.0,0.071787,2017-09-19 00:00:00
2,72,5.4444,29.5556,4.0,0.0,0.139589,2017-09-19 01:00:00
3,72,10.0000,25.0000,4.0,0.0,0.256425,2017-09-19 02:00:00
4,72,14.0000,21.0000,4.0,0.0,0.358980,2017-09-19 03:00:00
5,72,20.0000,15.0000,4.0,0.0,0.512800,2017-09-19 04:00:00
6,72,21.6250,13.3750,4.0,0.0,0.554500,2017-09-19 05:00:00
7,72,22.0000,13.0000,4.0,0.0,0.564100,2017-09-19 06:00:00
8,72,21.0000,14.0000,4.0,0.0,0.538500,2017-09-19 07:00:00
9,72,20.0000,15.0000,4.0,0.0,0.512820,2017-09-19 09:00:00

In [18]:
df['communication_time'] = pd.to_datetime(df['communication_time'], format='%Y-%m-%d %H:%M:%S')

In [26]:
df['total_docks'] =  df.available_bikes + df.available_docks + df.disabled_bikes + df.disabled_docks

In [27]:
df.dtypes

id                             int64
communication_time    datetime64[ns]
available_bikes              float64
available_docks              float64
disabled_bikes               float64
disabled_docks               float64
total_docks                  float64
percent_full                 float64
dtype: object

In [21]:
df.total_docks = df.total_docks.astype(int)

In [28]:
df = df[ ['id', 'communication_time', 'available_bikes', 'available_docks', 'disabled_bikes', 'disabled_docks', 'total_docks', 'percent_full' ] ]

In [29]:
df.sort_values(by = ['id', 'communication_time'], inplace=True)

In [30]:
df

,id,communication_time,available_bikes,available_docks,disabled_bikes,disabled_docks,total_docks,percent_full
0,72,2017-09-18 23:00:00,1.1333,34.0667,3.8000,0.0,39.0,0.029040
1,72,2017-09-19 00:00:00,2.8000,32.2000,4.0000,0.0,39.0,0.071787
2,72,2017-09-19 01:00:00,5.4444,29.5556,4.0000,0.0,39.0,0.139589
3,72,2017-09-19 02:00:00,10.0000,25.0000,4.0000,0.0,39.0,0.256425
4,72,2017-09-19 03:00:00,14.0000,21.0000,4.0000,0.0,39.0,0.358980
5,72,2017-09-19 04:00:00,20.0000,15.0000,4.0000,0.0,39.0,0.512800
6,72,2017-09-19 05:00:00,21.6250,13.3750,4.0000,0.0,39.0,0.554500
7,72,2017-09-19 06:00:00,22.0000,13.0000,4.0000,0.0,39.0,0.564100
8,72,2017-09-19 07:00:00,21.0000,14.0000,4.0000,0.0,39.0,0.538500
9,72,2017-09-19 09:00:00,20.0000,15.0000,4.0000,0.0,39.0,0.512820
10,72,2017-09-19 10:00:00,23.7778,11.2222,4.0000,0.0,39.0,0.609689
11,72,2017-09-19 11:00:00,20.7333,14.2667,4.0000,0.0,39.0,0.531620
12,72,2017-09-19 12:00:00,12.3030,22.6970,4.0000,0.0,39.0,0.315464
13,72,2017-09-19 13:00:00,2.5926,32.4074,4.0000,0.0,39.0,0.066470
14,72,2017-09-19 14:00:00,3.9231,31.0769,4.0000,0.0,39.0,0.100592
15,72,2017-09-19 15:00:00,5.5294,29.7059,3.7647,0.0,39.0,0.141771
16,72,2017-09-19 16:00:00,6.2143,32.4286,0.3571,0.0,39.0,0.159329
17,72,2017-09-19 17:00:00,3.7000,35.3000,0.0000,0.0,39.0,0.094860
18,72,2017-09-19 18:00:00,1.7778,37.2222,0.0000,0.0,39.0,0.045578
19,72,2017-09-19 19:00:00,3.0000,36.0000,0.0000,0.0,39.0,0.076925
20,72,2017-09-19 20:00:00,1.8333,37.1667,0.0000,0.0,39.0,0.047000
21,72,2017-09-19 21:00:00,0.7857,38.2143,0.0000,0.0,39.0,0.020129
22,72,2017-09-19 22:00:00,1.0000,38.0000,0.0000,0.0,39.0,0.025625
23,72,2017-09-19 23:00:00,2.8333,36.1667,0.0000,0.0,39.0,0.072650
24,72,2017-09-20 00:00:00,6.1000,32.9000,0.0000,0.0,39.0,0.156400
25,72,2017-09-20 01:00:00,14.7500,24.2500,0.0000,0.0,39.0,0.378213
26,72,2017-09-20 02:00:00,18.7000,20.3000,0.0000,0.0,39.0,0.479480
27,72,2017-09-20 03:00:00,11.6364,27.3636,0.0000,0.0,39.0,0.298373
28,72,2017-09-20 04:00:00,8.5000,30.5000,0.0000,0.0,39.0,0.217950
29,72,2017-09-20 05:00:00,10.0000,29.0000,0.0000,0.0,39.0,0.256400
...,...,...,...,...,...,...,...,...
880508,3649,2017-11-21 03:00:00,9.0000,20.0000,1.0000,0.0,30.0,0.300000
880509,3649,2017-11-21 09:00:00,9.0000,20.0000,1.0000,0.0,30.0,0.300000
880510,3649,2017-11-21 13:00:00,8.0000,21.0000,1.0000,0.0,30.0,0.266700
880511,3649,2017-11-21 14:00:00,9.0000,20.0000,1.0000,0.0,30.0,0.300000
880512,3649,2017-11-21 15:00:00,8.5000,20.5000,1.0000,0.0,30.0,0.283350
880513,3649,2017-11-21 18:00:00,8.0000,21.0000,1.0000,0.0,30.0,0.266700
880514,3649,2017-11-21 22:00:00,7.0000,22.0000,1.0000,0.0,30.0,0.233300
880515,3649,2017-11-21 23:00:00,5.5000,23.5000,1.0000,0.0,30.0,0.183350
880516,3649,2017-11-22 00:00:00,6.0000,23.0000,1.0000,0.0,30.0,0.200000
880517,3649,2017-11-22 01:00:00,7.0000,22.0000,1.0000,0.0,30.0,0.233300
880518,3649,2017-11-22 05:00:00,8.0000,21.0000,1.0000,0.0,30.0,0.266700
880519,3649,2017-11-22 09:00:00,8.0000,21.0000,1.0000,0.0,30.0,0.266700
880520,3649,2017-11-22 14:00:00,9.5000,19.5000,1.0000,0.0,30.0,0.316650
880521,3649,2017-11-22 17:00:00,11.0000,18.0000,1.0000,0.0,30.0,0.366700
880522,3649,2017-11-22 19:00:00,10.0000,19.0000,1.0000,0.0,30.0,0.333300
880523,3649,2017-11-22 20:00:00,8.5000,20.5000,1.0000,0.0,30.0,0.283350
880524,3649,2017-11-22 22:00:00,7.0000,22.0000,1.0000,0.0,30.0,0.233300
880525,3649,2017-11-23 00:00:00,8.0000,21.0000,1.0000,0.0,30.0,0.266700
880526,3649,2017-11-23 06:00:00,7.0000,22.0000,1.0000,0.0,30.0,0.233300
880527,3649,2017-11-23 09:00:00,7.0000,22.0000,1.0000,0.0,30.0,0.233300
880528,3649,2017-11-23 15:00:00,6.0000,23.0000,1.0000,0.0,30.0,0.200000
880529,3649,2017-11-23 16:00:00,5.0000,24.0000,1.0000,0.0,30.0,0.166700
880530,3649,2017-11-23 18:00:00,5.5000,23.5000,1.0000,0.0,30.0,0.183350
880531,3649,2017-11-23 20:00:00,6.0000,23.0000,1.0000,0.0,30.0,0.200000
880532,3649,2017-11-24 05:00:00,5.0000,24.0000,1.0000,0.0,30.0,0.166700
880533,3649,2017-11-24 09:00:00,5.0000,24.0000,1.0000,0.0,30.0,0.166700
880534,3649,2017-11-24 19:00:00,5.6667,23.3333,1.0000,0.0,30.0,0.188900
880535,3649,2017-11-24 20:00:00,4.5000,24.5000,1.0000,0.0,30.0,0.150000
880536,3649,2017-11-24 21:00:00,3.0000,26.0000,1.0000,0.0,30.0,0.100000
880537,3649,2017-12-09 18:00:00,5.0000,24.0000,1.0000,0.0,30.0,0.166700

### Writing a Pandas Dataframe in a MySQL Table

Now we will connect to our MySQL server. We will use the SQLAlchemy library of Python.

If you do not have the library, you need to install it by typing in the shell:

In [10]:
conn_string_write = 'mysql://{user}:{password}@{host}/?charset=utf8mb4'.format(
    host = 'db.ipeirotis.org', 
    user = 'root',
    password = 'krjniJm6OuIyhEoo',
    encoding = 'utf8mb4')
engine_write = create_engine(conn_string_write)

Once we have connected successfully, we need to create our database:

In [12]:
# Query to create a database
db_name = 'citibike'
create_db_query = "CREATE DATABASE IF NOT EXISTS {db} DEFAULT CHARACTER SET 'utf8mb4'".format(db=db_name)

# Create a database
engine_write.execute(create_db_query)
# And lets switch to the database
engine_write.execute("USE {db}".format(db=db_name))

In [29]:
table_name = 'stations'

df.to_sql(
    name = table_name, 
    schema = db_name, 
    con = engine_write,
    if_exists = 'replace',
    index = False, 
    chunksize = 1000)

In [ ]:
# Once we have the data in the table, we also specify a primary key
# If we had FOREIGN KEYS we can add them in the same way
# add_key_query = 'ALTER TABLE nypd ADD PRIMARY KEY(CMPLNT_NUM)'
# engine.execute(add_key_query)